main {
  max-width: 1320px;
  margin: 0 auto;
}
/* header style */
.bg-img {
  height: 600px;
  background-image: url("assets/bannerimage.png");
  background-size: 100% 100%;
}
.new-year {
  padding-top: 125px;
  position: absolute;
  width: 1320px;
  color: white;
  border-radius: 15px;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%
  );
}
.new-year-info {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.new-year-title {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* category section style */
.category {
  padding: 130px;
  border-radius: 10px;
}

.category-info {
  text-align: center;
  font-family: Inter;
}
.category-info h1 {
  color: #ff0000;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  margin-bottom: 50px;
}
.category-info h4 {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
}
.category-info h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
}

/* mid night party style */
.mid-night-party {
  display: flex;
  height: 600px;
  background-image: url("assets/Vectorrr.png");
  background-size: 100% 100%;
  font-family: Merriweather;
  color: white;
  margin-bottom: 120px;
}
.mid-night-party-gradient {
  display: flex;
  border-radius: 15px;
  background-image: linear-gradient(
    180deg,
    rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%
  );
}
.mid-night-party-info {
  padding: 95px;
}
.mid-night-party-info h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
}

.mid-night-party-info p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.mid-night-party img {
  padding: 50px 60px;
}

.mid-night-party-info button {
  color: #fff;
  border: transparent;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  padding-left: 40px;
  outline: none;
}
/* dead line style */
.deadline {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 300px;
}

.deadline-info {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.deadline-info-color {
  color: #ff0000;
}
.deadline-info button {
  width: 167px;
  height: 56px;
  border: 3px solid white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  background: #ff0000;
  margin-top: 50px;
  margin-bottom: 200px;
}
/* coming-soon style */
.coming-soon {
  display: flex;
  justify-content: space-evenly;
  padding-left: 40px;
  margin-bottom: 150px;
}
.round-border {
  background-image: url(assets/Ellipse1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 400px;
  border: 10px solid red;
  border-radius: 50%;
}

.best-offer h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #ff0000;
}
.best-offer h2 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
}
.best-offer p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.happy-new-message {
  width: 400px;
  height: 300px;
  /* border: 10px solid blue; */
  padding-left: 70px;
}

.happy-new-message h2 {
  color: #ff0000;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.happy-new-message p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

/* holyday-sale style */
.holiday-sale {
  text-align: center;
}
.holiday-sale-info h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale-info h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holidays {
  color: #ff0000;
}
.holiday-sale-info p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 10px 230px;
}
.holiday-sale-off {
  display: flex;
}
.prizes {
  position: relative;
  margin-bottom: -200px;
}
.sale-off {
  position: relative;
  margin-right: -160px;
}
.holiday-sale-happiness {
  margin-left: -50px;
}
/* awesome portfolio style */
.awesome-portfolio {
  margin-top: 150px;
  margin-bottom: 150px;
}
.awesome-portfolio h4 {
  color: #ff0000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.awesome-portfolio h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
}
.awesome-portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-right: 400px;
}

.image-gallary-items {
  margin: 6px;
}

/* subscribe styles */
.subscribe-now {
  text-align: center;
  height: 600px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.newsletter {
  padding-top: 100px;
  margin-bottom: 150px;
}
.newsletter h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.newsletter p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.add-email {
  position: relative;
  width: 600 px;
  height: 60px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
  border: transparent;
  padding-left: 50px;
  outline: none;
}
.submit-email {
  /* position: absolute; */
  height: 60px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background: #ff0000;
  color: #ffffff;
}

/* footer Style */
.footer {
  background-color: #070211;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding: 50px;
}

.address-info,
.copy-right {
  display: flex;
  justify-content: space-around;
}
.social-network {
  text-align: center;
  margin: 100px;
}
